body {
  background: url('../images/Back\ To\ Earth.jpg');
  color: white;
  font-family: 'Varela Round', sans-serif;
}

.title {
  padding-top: 40px;
}

.gameContainer {
  border: 1px solid #4ecdc4;
  border-radius: 10px;
  
  background: rgba(0, 0, 0, .3);
}

.scoreboard {
  border: 1px solid #4ecdc4;
  border-radius: 10px;
}

.timerContainer {
  font-size: 72px;
}

.equationContainer {
  font-size: 72px;
}

#answerBox {
  width: 50%;
}

.difficultyContainer {
  border: 1px solid #4ecdc4;
  border-radius: 10px;
}